target/
.idea/
.classpath
.project
.settings/
*.iml
*.log
*.class
*.jar
*.war
*.ear
*.db
*.swp
*.swo
*.DS_Store
*.tmp
*.bak
*.orig
*.rej
*.out
*.log
*.pid
*.gz
*.zip
*.tar
*.tar.gz
*.tgz
*.7z
*.bin
*.exe
*.dll
*.so
*.dylib
*.pyc
*.pyo
*.pyd
*.sublime-workspace
*.sublime-project
*.vscode/
/.gradle
.env
/build/resources/test/.gitkeep
.gradle/9.1.0/checksums/checksums.lock
.gradle/9.1.0/executionHistory/executionHistory.lock
/.gradle/9.1.0
